/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}
ul[class],
ol[class] {
  list-style: none;
}
a:not([class]) {
  text-decoration-skip-ink: auto;
}
img {
  max-width: 100%;
  display: block;
}
article > * + * {
  margin-top: 1em;
}
input,
button,
textarea,
select {
  font: inherit;
}
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

div.loginHeader {
  margin-bottom: 50px;
}
body#loginBody {
  background: url(images/login-background.png) center center no-repeat;
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;
}
div.loginHeader {
  text-align: center;
  font-weight: bold;
}
div.loginHeader h1 {
  font-size: 70px;
  color: black;
  padding: 0px;
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
}
div.loginHeader p {
  color: black;
  margin: 0px;
  font-size: 35px;
  display: inline-block;
  text-transform: uppercase;
}
div.loginHeader p::after {
  color: black;
  content: "";
  display: block;
  height: 5px;
  font-size: 30px;
  border-bottom: 5px solid black;
  width: 100%;
  margin: 0 auto;
}
div.loginBody form {
  margin: 0 auto;
  width: 450px;
  background: rgba(0, 0, 0, 0.5);
  padding: 50px;
  border: 2px solid #faebd7;
  border-radius: 8px;
}
div.userInputContainer {
  margin-top: 20px;
}
div.userInputContainer label {
  display: block;
  text-transform: uppercase;
  font-size: 20px;
  color: #faebd7;
  font-weight: bold;
}
div.userInputContainer input {
  height: 30px;
  width: 100%;
  border: 2px solid gray;
  border-radius: 8px;
  font-size: 20px;
  padding: 5px;
  text-align: center;
}
div.loginButtonContainer {
  margin-top: 40px;
  text-align: center;
}
div.loginButtonContainer button {
  font-size: 20px;
  padding: 10px 40px;
  background: gray;
  border-radius: 8px;
  color: black;
}
div.header {
  width: 100%;
  height: 20px;
  background: gray;
}
div.banner {
  background: url(images/banner.jpg) center center no-repeat;
  background-size: cover;
}
